.ExploreWhatsHappening{
    width: 100%;
}

.exploreWhatsHappeningContainerWrapper{
    border-bottom: var(--border);
}

.exploreWhatsHappeningHeaderWrapper{
    padding: 10px var(--container-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 20px 0px 20px; */
}


.exploreWhatsHappeningContainer{
    display: flex;
    flex-direction: column;
}

.exploreWhatsHappeningArticle{
    padding: 10px var(--container-padding);
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.exploreWhatsHappeningArticleImg{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: var(--br-rounded);
}


.exploreWhatsHappeningArticleText{
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.exploreWhatsHappeningArticleCategory{
    font-size: 12px;
    color: var(--lightsout-text-gray);
}

.exploreWhatsHappeningArticleTitle{
    font-weight: 700;
    overflow-wrap: break-word;
}