.TrendingContainer{
    width: 100%;
}

.exploreTrendingContainerWrapper{
    border-bottom: var(--border);
}

.exploreTrendingHeaderWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    margin-bottom: 10px;
}

.exploreTrending{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px var(--container-padding);
}
.exploreTrending:hover{

}

.exploreTrendingSpanCountry{
    font-size: 12px;
    color: var(--lightsout-text-gray);
}
.exploreTrendingSpanName{
    font-weight: 700;
    
}
.exploreTrendingSpanNoOfTweet{
    font-size: 12px;
    color: var(--lightsout-text-gray);

}

