
.btnWrapper.profile{
    position: relative;
}


.ProfilePopUp{
    width: 215px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--lightsout-bg-wrapper);
    z-index: 9999;
    font-size: var(--tweet-font-size);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
}

.ProfilePopUpWrapper{

}

.ProfilePopUpUpperPartWrapper{
    border-bottom: var(--border);
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.ProfilePopUpLowerPartWrapper{

}

.ProfilePopBtn{
    display: flex;
    align-items: center;
    padding: 12px var(--container-padding);
    gap: 10px;
}
.ProfilePopBtn:hover{
    background-color: var(--lightsout-hover-color);

}

.ProfilePopSpan{

}
.ProfilePopIcon{
}