.postTweetContainer{
    display: flex;
    gap: var(--gap);
    padding: var(--container-padding);
}

.postInput{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.postProfilePic{
    width: var(--profile-pic-size);
    height: var(--profile-pic-size);
}

.postInputTextBar{
    font-size: 1.25rem;
    width: 100%;
    height: 3rem;
    background: none;
    border: none;
    outline: none;
}

.postBtnsWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweetBtnWrapper{
    display: flex;
    align-items: center;
}

.postBtns{
    display: flex;
    align-items: center;
    gap: 18px;
}
.postBtnIcon{
    border-radius: var(--br-circle);
    padding: 2px;
    transition: background-color var(--transition-duration);
}

.postBtnIcon:hover{
    background-color: var(--lightsout-hover-color);
}

.tweetSpan{
    font-size: 12px;
    color: var(--lightsout-text-gray);
}

.postBtnTweet{
    background-color: var(--twitter-color-main);
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding: 6px 18px;
    border-radius: var(--br-circle);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color var(--transition-duration);
}
