.SearchBar{
    margin: 6px 0;
    /* padding-top: 6px; */
    width: 100%;
    /* position: fixed; */
}

.searchBarWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.searchBarInput{
    height: calc(var(--header-height) - 9px);
    width: 100%;
    background-color: var(--lightsout-bg-wrapper);
    border: none;
    outline: none;
    padding-left: 50px;
    border-radius: var(--br-circle);
    border: 1px solid var(--lightsout-bg-wrapper);
}
.searchBarInput:focus{
    background-color: transparent;
    border: 1px solid var(--twitter-color-main);
}

.searchBarIcon{
    position: absolute;
    left: 22px;
}