@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --lightsout-bg: #000000;
    --lightsout-bg-wrapper: #15181C;
    --lightsout-text-gray: #818181;
    --lightsout-hover-color:rgb(63, 63, 63);
    --lightsout-container-hover-color:rgb(30, 30, 30);
    --lightsout-container-hover-color-dark: rgba(217, 217, 217, 0.1);

    --twitter-color-main: #1D9BF0;
    --twitter-color-main-hover: #1d8fdb;

    --tweet-font-size: 15px;
    --br-rounded: 20px;
    --br-circle: 100px;

    --border: 1px solid rgb(50, 50, 50);

    --transition-duration: .2s ease;

    --container-padding: 20px;
    --gap: 8px;

    --profile-pic-size: 42px;

    --header-height: 52px;
}

*{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    border-radius: var(--br-circle);
    object-fit: cover;
}

body{
    background-color: var(--lightsout-bg);
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    
}

/* ----------------------------------------- */

.HomePage, .ExplorePage, .NotificationsPage, .MessagesPage, .Bookmarks, .ListsPage, .ProfilePage {
    width: 1320px;
    display: flex;
    justify-content: center;
}


.leftNavigation{
    min-width: 322px;
    border-right: var(--border);
}

.rightNavigation{
    min-width: 392px;
    /* flex: 1.75; */
    border-left: var(--border);
    padding: 0 var(--container-padding);
    position: sticky;
    top: -100px;
    bottom: 0;
    z-index: 998;
}
.centerNavigation{
    /* flex: 3; */
    min-width: 606px;
}


.postTweetContainer, .tweetTextNavigation{
    border-bottom: var(--border);
}


/* Explore Page */

.stickySearchBarWrapper{
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    width: 100%;
    background-color: var(--lightsout-bg);
    border-bottom: var(--border);
}

.SettingsOutlinedIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 10px;
}



/* See more button */

.seeMoreWrapper{
    cursor: pointer;
    padding: 15px var(--container-padding);
}
.seeMoreWrapper:hover{
    background-color: var(--lightsout-container-hover-color);
}

.seeMore{
    color: var(--twitter-color-main);
}
